<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/checktopic.js"></script>
  </head>
  <body>
    <div id="modal" class="modal hide fade">
      <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3>提示</h3>
      </div>
      <div class="modal-body">
        <p id="modal_msg"></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" >关闭</a>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
      	<tr>
      	  <th>待审核话题</th>
          <th>话题所属分类</th>
      	  <th>提出用户id</th>
      	  <th>操作</th>
      	</tr>
      </thead>

      <tbody>
      <%

      for (var i in array) {
      	var entry = array[i];
      %>
      	<tr>
      	  <td><%=entry.n %></td>
          <td><%=entry.cn %></td>
      	  <td><%=entry.u %></td>
      	  <td>
      	  	<button class="btn btn-primary btn-small" onclick="approve(<%=entry.id%>)">通过</button>
      	  	<button class="btn btn-small" onclick="reject(<%=entry.id%>)">退回</button>
      	  </td>
      	</tr>
      <%
  	  }
      %>
      </tbody>
    </table>
  </body>
</html>